<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.Kestrel</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kestrel</string>
			</array>
		</dict>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.kestrel.service-monitor</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>osprey</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>JetBrainsMono-Regular.ttf</string>
		<string>JetBrainsMono-Medium.ttf</string>
		<string>JetBrainsMono-Bold.ttf</string>
		<string>JetBrainsMono-Italic.ttf</string>
		<string>IBMPlexMono-Regular.ttf</string>
		<string>IBMPlexMono-Medium.ttf</string>
		<string>IBMPlexMono-Bold.ttf</string>
		<string>SpaceMono-Regular.ttf</string>
		<string>SpaceMono-Bold.ttf</string>
		<string>Inter_18pt-Regular.ttf</string>
		<string>Inter_18pt-Medium.ttf</string>
		<string>Inter_18pt-Bold.ttf</string>
		<string>Outfit-Regular.ttf</string>
		<string>Outfit-Medium.ttf</string>
		<string>Outfit-Bold.ttf</string>
	</array>
</dict>
</plist>
